/*
i quadrati diventano cerchi con l'hover
far spostare il testo a destra
mapppa dimensione quadrato

*/header {
    background-color: #d9d9d9;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Assicura che il header sia sovrapposto a tutto il resto */
}

.alal {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease;
}

.alal:hover {
    transform: scale(1.1);
}

.divider {
    margin: 0 10px;
}

.alal img {
    width: 20px;
    margin-right: 5px;
}

.alal img:hover {
    transform: rotate(180deg);
}
